// variable color
$text-color1: #363636;
$text-color2: #222222;
$text-color3: #a1a1a1;

$brand-color1: #6fa052;
$brand-color2: #363636;

$support-color: #f8f8f8;

// variable width height
$hotline-width: 166px;
$hotline-height: 25px;

$bgbanner-height: 250px;

$bannerContainer-width: 380px;

$productContent-width: 582px;

$inputContact-width: 480px;
$inputContact-height: 45px;
$inputContactContent-height: 100px;

$productAppChild-height: 350px;

$productFeatureChild-height: 124px;
$productCertificateChild-height: 150px;
$productDownloadLink-height: 168px;

// variable absolute
$switchLeft-left: 50px;
$switchRight-right: 50px;

$bannerInner-top: 134px;
$bannerInner-left: 155px;